In [14]:
import pandas as pd 
data = pd.DataFrame ({"power_level":[12000, 16000, 4000, 1500, 3000,
                                     2000, 1600, 2000, 300],
                      "uniform color":["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange", "orange" ],
                      "species": ["saiyan", "saiyan", "saiyan", "half saiyan",
                                  "namak", "human", "human", "human", "human"]},
                     index = ["goku", "vegta", "nappa" ,"gohan", 
                              "piccolo", "tien", "yamcha", "krillin", "roshi"])
data#

         power_level uniform color      species
goku           12000        orange       saiyan
vegta          16000          blue       saiyan
nappa           4000         black       saiyan
gohan           1500        orange  half saiyan
piccolo         3000        purple        namak
tien            2000         green        human
yamcha          1600        orange        human
krillin         2000        orange        human
roshi            300        orange        human

In [15]:
# use .apply() to apply a function to series (single column)
def my_function(x, h, l):
    if x > h:
        return("high")
    if x > l:
        return("med")
        return("low")
data["power_level"].apply(my_function, args = [10000, 2000])

goku       high
vegta      high
nappa       med
gohan      None
piccolo     med
tien       None
yamcha     None
krillin    None
roshi      None
Name: power_level, dtype: object

In [17]:
# Apply a function to each column with axis =0
# Can be used to create new rows/summary rows

def mode(x):
    return x.mode()
data.apply (mode,axis =0)

   power_level uniform color species
0         2000        orange   human

In [22]:
# Apply a function to each row with axis = 1
# Can be used to create new  column/summary columns

def max_str_len(x):
    return max([len(str(v)) for v in x])
data.apply(max_str_len, axis = 1)

goku        6
vegta       6
nappa       6
gohan      11
piccolo     6
tien        5
yamcha      6
krillin     6
roshi       6
dtype: int64

In [21]:
# Apply a function to each row, referencing column names:

def make_char_string(x):
    return(f"{x.species} with power level: {x.power_level}")
data.apply(make_char_string, axis = 1)

goku           saiyan with power level: 12000
vegta          saiyan with power level: 16000
nappa           saiyan with power level: 4000
gohan      half saiyan with power level: 1500
piccolo          namak with power level: 3000
tien             human with power level: 2000
yamcha           human with power level: 1600
krillin          human with power level: 2000
roshi             human with power level: 300
dtype: object

In [ ]:
import pandas as pd

In [30]:
data = {'Names':['Raj', 'Rajat', 'Gaurav', 'karan', 'Aasif', 'Raj'],
        'Marks':[56,89,90,45,34,56],
        'City':['Pune','Bangalore','Mumbai', 'Kolkata', 'Delhi', 'Pune']}
df = pd.DataFrame(data)
df

    Names  Marks       City
0     Raj     56       Pune
1   Rajat     89  Bangalore
2  Gaurav     90     Mumbai
3   karan     45    Kolkata
4   Aasif     34      Delhi
5     Raj     56       Pune

In [33]:
# Apply to the drop duplicates first
drop_duplicates(subset='Names',keep='first')

    Names  Marks       City
0     Raj     56       Pune
1   Rajat     89  Bangalore
2  Gaurav     90     Mumbai
3   karan     45    Kolkata
4   Aasif     34      Delhi

In [34]:
#Apply to the drop duplicate last
df.drop_duplicates(subset='Names',keep='last')

    Names  Marks       City
1   Rajat     89  Bangalore
2  Gaurav     90     Mumbai
3   karan     45    Kolkata
4   Aasif     34      Delhi
5     Raj     56       Pune

In [47]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [59]:
# web phishing data sets 
data = pd.read_csv("Phishing_Legitimate_full.csv")

In [60]:
data.head()

,id,NumDots,SubdomainLevel,PathLevel,UrlLength,NumDash,NumDashInHostname,AtSymbol,TildeSymbol,NumUnderscore,...,IframeOrFrame,MissingTitle,ImagesOnlyInForm,SubdomainLevelRT,UrlLengthRT,PctExtResourceUrlsRT,AbnormalExtFormActionR,ExtMetaScriptLinkRT,PctExtNullSelfRedirectHyperlinksRT,CLASS_LABEL
0,1,3,1,5,72,0,0,0,0,0,...,0,0,1,1,0,1,1,-1,1,1
1,2,3,1,3,144,0,0,0,0,2,...,0,0,0,1,-1,1,1,1,1,1
2,3,3,1,2,58,0,0,0,0,0,...,0,0,0,1,0,-1,1,-1,0,1
3,4,3,1,6,79,1,0,0,0,0,...,0,0,0,1,-1,1,1,1,-1,1
4,5,3,0,4,46,0,0,0,0,0,...,1,0,0,1,1,-1,0,-1,-1,1

In [ ]:
#count

In [63]:
data['NumDots'].count()

10000

In [64]:
data['UrlLength'].count

<bound method Series.count of 0        72
1       144
2        58
3        79
4        46
       ...
9995     50
9996     59
9997     57
9998     49
9999     52
Name: UrlLength, Length: 10000, dtype: int64>

In [ ]:
# check the total no of unique values in any column

In [65]:
data.head(2)

,id,NumDots,SubdomainLevel,PathLevel,UrlLength,NumDash,NumDashInHostname,AtSymbol,TildeSymbol,NumUnderscore,...,IframeOrFrame,MissingTitle,ImagesOnlyInForm,SubdomainLevelRT,UrlLengthRT,PctExtResourceUrlsRT,AbnormalExtFormActionR,ExtMetaScriptLinkRT,PctExtNullSelfRedirectHyperlinksRT,CLASS_LABEL
0,1,3,1,5,72,0,0,0,0,0,...,0,0,1,1,0,1,1,-1,1,1
1,2,3,1,3,144,0,0,0,0,2,...,0,0,0,1,-1,1,1,1,1,1

In [66]:
data = pd.read_csv("Phishing_Legitimate_full.csv")

In [67]:
data.head()

,id,NumDots,SubdomainLevel,PathLevel,UrlLength,NumDash,NumDashInHostname,AtSymbol,TildeSymbol,NumUnderscore,...,IframeOrFrame,MissingTitle,ImagesOnlyInForm,SubdomainLevelRT,UrlLengthRT,PctExtResourceUrlsRT,AbnormalExtFormActionR,ExtMetaScriptLinkRT,PctExtNullSelfRedirectHyperlinksRT,CLASS_LABEL
0,1,3,1,5,72,0,0,0,0,0,...,0,0,1,1,0,1,1,-1,1,1
1,2,3,1,3,144,0,0,0,0,2,...,0,0,0,1,-1,1,1,1,1,1
2,3,3,1,2,58,0,0,0,0,0,...,0,0,0,1,0,-1,1,-1,0,1
3,4,3,1,6,79,1,0,0,0,0,...,0,0,0,1,-1,1,1,1,-1,1
4,5,3,0,4,46,0,0,0,0,0,...,1,0,0,1,1,-1,0,-1,-1,1

In [74]:
# find duplicated data 
data.duplicated().sum()

0

In [77]:
# check the mean values 
data.mean()

id                                    5000.500000
NumDots                                  2.445100
SubdomainLevel                           0.586800
PathLevel                                3.300300
UrlLength                               70.264100
NumDash                                  1.818000
NumDashInHostname                        0.138900
AtSymbol                                 0.000300
TildeSymbol                              0.013100
NumUnderscore                            0.323200
NumPercent                               0.073800
NumQueryComponents                       0.458600
NumAmpersand                             0.277200
NumHash                                  0.002300
NumNumericChars                          5.810300
NoHttps                                  0.988800
RandomString                             0.525200
IpAddress                                0.017200
DomainInSubdomains                       0.022200
DomainInPaths                            0.428900
HttpsInHostname                          0.000000
HostnameLength                          18.824300
PathLength                              35.564900
QueryLength                              8.606500
DoubleSlashInPath                        0.000900
NumSensitiveWords                        0.109300
EmbeddedBrandName                        0.057100
PctExtHyperlinks                         0.241334
PctExtResourceUrls                       0.392932
ExtFavicon                               0.167200
InsecureForms                            0.844000
RelativeFormAction                       0.248700
ExtFormAction                            0.101800
AbnormalFormAction                       0.057600
PctNullSelfRedirectHyperlinks            0.136136
FrequentDomainNameMismatch               0.215300
FakeLinkInStatusBar                      0.005500
RightClickDisabled                       0.014000
PopUpWindow                              0.004900
SubmitInfoToEmail                        0.128800
IframeOrFrame                            0.339600
MissingTitle                             0.032200
ImagesOnlyInForm                         0.030400
SubdomainLevelRT                         0.956600
UrlLengthRT                              0.020200
PctExtResourceUrlsRT                     0.353300
AbnormalExtFormActionR                   0.793200
ExtMetaScriptLinkRT                      0.173400
PctExtNullSelfRedirectHyperlinksRT       0.314100
CLASS_LABEL                              0.500000
dtype: float64

In [ ]:
# check the max values

In [78]:
data.max()

id                                    10000.0
NumDots                                  21.0
SubdomainLevel                           14.0
PathLevel                                18.0
UrlLength                               253.0
NumDash                                  55.0
NumDashInHostname                         9.0
AtSymbol                                  1.0
TildeSymbol                               1.0
NumUnderscore                            18.0
NumPercent                               19.0
NumQueryComponents                       23.0
NumAmpersand                             22.0
NumHash                                   1.0
NumNumericChars                         111.0
NoHttps                                   1.0
RandomString                              1.0
IpAddress                                 1.0
DomainInSubdomains                        1.0
DomainInPaths                             1.0
HttpsInHostname                           0.0
HostnameLength                          137.0
PathLength                              161.0
QueryLength                             188.0
DoubleSlashInPath                         1.0
NumSensitiveWords                         3.0
EmbeddedBrandName                         1.0
PctExtHyperlinks                          1.0
PctExtResourceUrls                        1.0
ExtFavicon                                1.0
InsecureForms                             1.0
RelativeFormAction                        1.0
ExtFormAction                             1.0
AbnormalFormAction                        1.0
PctNullSelfRedirectHyperlinks             1.0
FrequentDomainNameMismatch                1.0
FakeLinkInStatusBar                       1.0
RightClickDisabled                        1.0
PopUpWindow                               1.0
SubmitInfoToEmail                         1.0
IframeOrFrame                             1.0
MissingTitle                              1.0
ImagesOnlyInForm                          1.0
SubdomainLevelRT                          1.0
UrlLengthRT                               1.0
PctExtResourceUrlsRT                      1.0
AbnormalExtFormActionR                    1.0
ExtMetaScriptLinkRT                       1.0
PctExtNullSelfRedirectHyperlinksRT        1.0
CLASS_LABEL                               1.0
dtype: float64

In [79]:
# check the min values
data.min()

id                                     1.0
NumDots                                1.0
SubdomainLevel                         0.0
PathLevel                              0.0
UrlLength                             12.0
NumDash                                0.0
NumDashInHostname                      0.0
AtSymbol                               0.0
TildeSymbol                            0.0
NumUnderscore                          0.0
NumPercent                             0.0
NumQueryComponents                     0.0
NumAmpersand                           0.0
NumHash                                0.0
NumNumericChars                        0.0
NoHttps                                0.0
RandomString                           0.0
IpAddress                              0.0
DomainInSubdomains                     0.0
DomainInPaths                          0.0
HttpsInHostname                        0.0
HostnameLength                         4.0
PathLength                             0.0
QueryLength                            0.0
DoubleSlashInPath                      0.0
NumSensitiveWords                      0.0
EmbeddedBrandName                      0.0
PctExtHyperlinks                       0.0
PctExtResourceUrls                     0.0
ExtFavicon                             0.0
InsecureForms                          0.0
RelativeFormAction                     0.0
ExtFormAction                          0.0
AbnormalFormAction                     0.0
PctNullSelfRedirectHyperlinks          0.0
FrequentDomainNameMismatch             0.0
FakeLinkInStatusBar                    0.0
RightClickDisabled                     0.0
PopUpWindow                            0.0
SubmitInfoToEmail                      0.0
IframeOrFrame                          0.0
MissingTitle                           0.0
ImagesOnlyInForm                       0.0
SubdomainLevelRT                      -1.0
UrlLengthRT                           -1.0
PctExtResourceUrlsRT                  -1.0
AbnormalExtFormActionR                -1.0
ExtMetaScriptLinkRT                   -1.0
PctExtNullSelfRedirectHyperlinksRT    -1.0
CLASS_LABEL                            0.0
dtype: float64

In [82]:
data.sum()

id                                    5.000500e+07
NumDots                               2.445100e+04
SubdomainLevel                        5.868000e+03
PathLevel                             3.300300e+04
UrlLength                             7.026410e+05
NumDash                               1.818000e+04
NumDashInHostname                     1.389000e+03
AtSymbol                              3.000000e+00
TildeSymbol                           1.310000e+02
NumUnderscore                         3.232000e+03
NumPercent                            7.380000e+02
NumQueryComponents                    4.586000e+03
NumAmpersand                          2.772000e+03
NumHash                               2.300000e+01
NumNumericChars                       5.810300e+04
NoHttps                               9.888000e+03
RandomString                          5.252000e+03
IpAddress                             1.720000e+02
DomainInSubdomains                    2.220000e+02
DomainInPaths                         4.289000e+03
HttpsInHostname                       0.000000e+00
HostnameLength                        1.882430e+05
PathLength                            3.556490e+05
QueryLength                           8.606500e+04
DoubleSlashInPath                     9.000000e+00
NumSensitiveWords                     1.093000e+03
EmbeddedBrandName                     5.710000e+02
PctExtHyperlinks                      2.413342e+03
PctExtResourceUrls                    3.929323e+03
ExtFavicon                            1.672000e+03
InsecureForms                         8.440000e+03
RelativeFormAction                    2.487000e+03
ExtFormAction                         1.018000e+03
AbnormalFormAction                    5.760000e+02
PctNullSelfRedirectHyperlinks         1.361355e+03
FrequentDomainNameMismatch            2.153000e+03
FakeLinkInStatusBar                   5.500000e+01
RightClickDisabled                    1.400000e+02
PopUpWindow                           4.900000e+01
SubmitInfoToEmail                     1.288000e+03
IframeOrFrame                         3.396000e+03
MissingTitle                          3.220000e+02
ImagesOnlyInForm                      3.040000e+02
SubdomainLevelRT                      9.566000e+03
UrlLengthRT                           2.020000e+02
PctExtResourceUrlsRT                  3.533000e+03
AbnormalExtFormActionR                7.932000e+03
ExtMetaScriptLinkRT                   1.734000e+03
PctExtNullSelfRedirectHyperlinksRT    3.141000e+03
CLASS_LABEL                           5.000000e+03
dtype: float64

In [5]:
import pandas as pd
df1 = pd.DataFrame({
    "city":["new york","chicago","orlando"],
    "temperature":[21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [6]:
df2 = pd.DataFrame({
    "city":["chicago","new york","orlando"],
    "humidity":[65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [10]:
df3=pd.merge(df1,df2,on="city", how="outer", indicator=True)
df3

       city  temperature  humidity _merge
0  new york           21        68   both
1   chicago           14        65   both
2   orlando           35        75   both